# Files to exclude from the docker image
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# Extra files we don't need to include
README.md
start.bat
build.bat
LICENSE

# Files that will be built and maintained by the docker image
/node_modules
/dist
/banlist.txt
/config.txt
/config-wls.txt